<h1><%= @task.title %></h1>
<br>
<%= link_to 'Edit', edit_task_path %>
<div>
  <ul>
    <li><%= @task.details %></li>
  </ul>
</div>
<br>
  <% if @task.completed %>
    <i class="far fa-check-square">Completed</i>
  <% else %>
    <i class="far fa-square">This task is not completed yet</i>
  <% end %>
  <br>
<%= link_to 'Go Back', tasks_path %>
